<!DOCTYPE html>
<html>
  <head>
    <title>Stretch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <ul class=top_nav_menu_parent>
        <li class="nav_menu_item"> <a href="/">Home</a></li>
        <li class="nav_menu_item"> <a href="/items">My Listings</a></li>
        <li class="nav_menu_item"> <a href="/items">My Listings</a></li>
        <li class="nav_menu_item"> <a href="/items">My Listings</a></li>
        <li class="nav_menu_item"> <form method="post" action="/users/sign_out"><input type="hidden" name="_method" value="delete" autocomplete="off"><button class=nav_menu_button type="submit">logout</button></form>
    </ul>
  </nav>
  <header>
    <h1><%=@page_title%></h1>
      <% if notice %>
        <p style="color: green" class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
  </header>
    <%= yield %>
  </body></html>
</html>
